html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* for mobile */
[class*="col-"] {
    width: 100%;
}

/* header starts  */
header {
    background-color: rgb(49, 2, 49);
    padding: 0% 1%;
    text-align: center;
}

.material-icons {}

.nav-logo-img {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 50px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;

}

.nav-menu {}

.nav-menu ul {}

.nav-menu ul li {
    display: block;
    padding: 5px;
}

.nav-menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    line-height: 40px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: blueviolet;
    border-radius: 15px;
    
}

.nav-menu ul li a:hover {
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

/* header ends  */

/* main starts  */
.main {}

/* banner starts  */
#banner-section {
    background-image: url('/assets/images/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    padding: 50px 10px;
    text-align: center;
}


.banner-content h1 {
    width: 100%;
    margin: 15px auto;
    font-size: 3rem;
    background-color: rgb(0, 255, 255, .86);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Marck Script', cursive;
}

.banner-content p {
    width: 300px;
    margin: 15px auto;
    background-color: rgb(103, 151, 30, 0.86);
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.btn {
    width: 160px;
    padding: 10px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(47, 73, 8, 0.9);
    color: white;
    text-transform: capitalize;
    transition: .4s;
}

.btn:hover {
    transform: scale(1.2);
}
/* banner ends  */


/* about-us starts  */
#about-us {
    padding: 1%;
}

.about-us-content {
    text-align: center;
}

.about-us-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bolder;
}

.about-us-content p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: justify;
}

/* about-us ends  */

/* food-menu starts  */
#food-menu {
    padding: 1%;
}

.card-body {
    text-align: center;
    max-width: 100%;
}

.card-body img {
    width: 100%;
    height: auto;
    display: block;
}

.item-desc {
    background-color: gray;
}

.item-name {
    background-color: rgb(199, 62, 85);
    color: white;
    padding: 10px;
}

.item-desc>p {
    font-size: 0.8rem;
    padding: 10px;
    font-weight: bold;
}

.card {
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.1);
}

/* food-menu ends  */

/* contact starts */
#contact-us {
    padding: 1%;
    background-color: rgb(253, 222, 182);
}

.map {
    width: 100%;
    height: 250px;
}

.contact-details {
    text-align: center;
    padding: 20px 0;
}

.contact-details>p,
address {
    font-size: 0.8rem;
    margin-top: 5px;
}

/* contact ends */

/* main ends  */

/* footer starts */
footer {
    padding: 1%;
    background-color: rgb(120, 44, 192);
    color: white;
}

footer p {
    line-height: 30px;
    font-size: 0.9rem;
    text-align: center;
}

.icons {
    text-align: center;
}

.icon-styles {
    color: white;
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    transition: .4s;
}

.icon-styles:hover {
    background-color: blue;
    transform: scale(1.2);
}
    /* footer ends */